@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* custom breakpoint */

@theme {
  --breakpoint-lxl: 1300px;
  --breakpoint-3xl: 1600px;
}

body {
  font-family: var(--font-inter);
}
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-dmSans: var(--font-dmSans);
  --font-inter: var(--font-inter);
  --color-accent: var(--accent);
  --color-text-dark-primary: var(--text-dark-primary);
  --accent-hover: var(--accent-hover);
  --color-text-secondary-dark: var(--text-secondary-dark);
  --color-accent-hover: var(--accent-hover);
}
/* #fcfff2 */
:root {

  --primary: #0271E8E8;
  --text-primary: #060606;
  --text-secondary: #65758B;
  /* --accent: #71f9a3;
  --accent-hover: #0d9276; */
}

.dark {
  --background: #0a1929;
  --primary: #4ade80;
  --text-dark-primary: #f1f5f9;
  --text-secondary-dark: #cbd5e1;
  --accent: #71f9a3;
  --accent-hover: #0d9276;
}

div#radix-_R_hlb_ {
    background: white;
}